<div class="row">
  <img class="img-fluid" src="https://www.iamexpat.nl/sites/default/files/styles/article--full/public/oldimages/61a5bc5c144dbfcb481874823cbbf9071438338557.jpg?itok=7RqnOkOt">
</div>
<div class="row" >
  <div class="col-sm-4 col-md-4 col-lg-4">
    <a routerLink="/beers">
      <h3>Beers
      </h3>
      <p class="text-justify">
        We offer excellent Beers, Why not see more about beers!!! 
      </p>
    </a>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
      <a routerLink="/beers">
          <h3>Breweries
          </h3>
          <p class="text-justify">
              We offer quality Breweries, Why not see more about beers!!!
          </p>
        </a>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
      <a routerLink="/beers">
          <h3>Events
          </h3>
          <p class="text-justify">
              We have events coming up, Why not see more about events!!!
          </p>
        </a>
  </div>

</div>